<app-header></app-header>
<br>

<div class="container">
  <div class="row">
    <!-- <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-4 col-sm-offset-1"> -->

  <!-- <div>step {{stepCount}}</div> -->
<!-- <button (click)="onNext()" class="btn btn-success">Next</button> -->

<br><br>
<form [formGroup] ="myForm" (ngSubmit) ="onSubmit()" >
  <div class="form-group">
    <label>First Name</label>
    <input 
      type="text" 
      class="form-control" 
      formControlName ="firstName"
      [class.is-invalid] ="!myForm.get('firstName').valid&&myForm.get('firstName').touched" >
    <div>
    <small 
    *ngIf="!myForm.get('firstName').valid&&myForm.get('firstName').touched" 
    class="form-text text-danger">
    Please enter First Name 
    </small>
      <small 
    *ngIf="!myForm.get('firstName').valid&&myForm.get('firstName').touched" 
    class="alert alert-danger">
    At least 1 characters 
    </small>
     <small 
    *ngIf="!myForm.get('firstName').valid&&myForm.get('firstName').touched" 
    class="alert alert-danger">
    no numbers or special characters 
    </small>
    
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input 
      type="text" 
      class="form-control" 
      formControlName ="lastName"
      [class.is-invalid] ="!myForm.get('lastName').valid&&myForm.get('lastName').touched" >
    <small 
    *ngIf="!myForm.get('lastName').valid&&myForm.get('lastName').touched" 
    class="form-text text-danger">
    Please enter Last Name 
    </small>
  </div>
  <div class="form-group">
    <label>Email address</label>
      <input 
      [class.is-invalid] ="!myForm.get('emailAddress').valid&&myForm.get('emailAddress').touched"
      type="email" class="form-control" formControlName ="emailAddress">
    <small *ngIf="!myForm.get('emailAddress').valid && myForm.get('emailAddress').touched" class="form-text text-danger">
      Please enter correct email
    </small>
  </div>
  <button [disabled]="!myForm.valid" type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
<!-- </div> -->
</div>

